{% extends 'animais/base.html' %}
{% block title %}Adote ou Apadrinhe um Animal{% endblock %}
{% block content %}
<h1>Metas</h1>
<hr>
{% if not user.is_authenticated %}
    <span>Clique no botão abaixo para fazer login</span>
    <br><br>
    <a href="{% url 'animais:login_admin' %}" class="btn btn-primary">Login</a>
    <br><br>
{% else %}

 <div class="container">
  <div class="row justify-content-md-center">
    <div class="card col-md-6">
      <h2 class="text-center">Registro de metas</h2>
      <form method="post">
        {% csrf_token %}
        <div class="form-group row">
          <label for="tipo_doacao" class="col-sm-3 col-form-label">Tipo de Doação:</label>
          <div class="col-sm-9">
            <select class="form-control" id="tipo_doacao" name="tipo_doacao">
              {% for d in tipo_doacao %}
                <option value="{{d.id}}">{{d.nome}} ({{d.unidade}})</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="meta_mensal" class="col-sm-3 col-form-label">meta_mensal:</label>
          <div class="col-sm-9">
            <input type="number" class="form-control" id="meta_mensal" name="meta_mensal">
          </div>
        </div>
        <div class="form-group row mt-4">
          <label for="data_meta" class="col-sm-3 col-form-label">Data da Meta:</label>
          <div class="col-sm-9">
            <input type="date" class="form-control" id="data_meta" name="data_meta">
          </div>
        </div>
        <div class="form-group row justify-content-md-end mt-4">
          <div class="col-sm-9 offset-sm-3">
            <button type="submit" class="btn btn-primary">Enviar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  // Função para obter a data atual no formato 'YYYY-MM-DD'
  function getCurrentDate() {
    var now = new Date();
    var year = now.getFullYear();
    var month = (now.getMonth() + 1).toString().padStart(2, '0');
    var day = now.getDate().toString().padStart(2, '0');
    return year + '-' + month + '-' + day;
  }

  // Define o valor padrão do campo de data como a data atual do Brasil
  document.getElementById('data_meta').value = getCurrentDate();
</script>


{% endif %}
{% endblock %}