{% extends 'animais/base.html' %}
{% block title %}Registro Doação{% endblock %}
{% block content %}
<h1>Registro Doação</h1>
<hr>
 {% if not user.is_authenticated %}
    <span>Clique no botão abaixo para entrar com nome de usuário e senha</span>
    <br><br>
    <a href="{% url 'animais:login_admin' %}" class="btn btn-primary">Entrar</a>
    <br><br>
{% else %}

{% include 'animais/message_default.html' %}

    <div class="container">
      <div class="row justify-content-center">
        <h2 class="text-center">Registro</h2>
        <div class="col-lg-6 col-md-10">
          <div class="container-sm custom-margin-auto">
            <div class="card">
              <form method="post" action="">
                {% csrf_token %}
                <div class="form-group">
                  <label for="postdate">Data:</label>
                  <input type="date" class="form-control" id="postdate" name="postdate">
                </div>
                <div class="form-group">
                  <label for="tipo_doacao">Tipo de doacao:</label>
                  <select class="form-control" id="tipo_doacao" name="tipo_doacao" required>
                    {% for d in tipo_doacao %}
                      <option value="{{d.id}}">{{d.nome}} ({{d.unidade}})</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="form-group">
                  <label for="quantidade">Quantidade:</label>
                  <input type="number" class="form-control" id="quantidade" name="quantidade" required>
                </div>  
                <br>
                <div c  lass="form-group text-center">
                  <but  ton type="submit" class="btn btn-primary">Enviar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  <script>
    // Função para obter a data atual no formato 'YYYY-MM-DD'
    function getCurrentDate() {
      var now = new Date();
      var year = now.getFullYear();
      var month = (now.getMonth() + 1).toString().padStart(2, '0');
      var day = now.getDate().toString().padStart(2, '0');
      return year + '-' + month + '-' + day;
    }

    // Define o valor padrão do campo de data como a data atual do Brasil
    document.getElementById('postdate').value = getCurrentDate();
  </script>



    {% if doacoes %}


   <div class="container mt-5">
        <h2>Tabela Doações</h2>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Data</th>
                    <th scope="col">Tipo de Doação</th>
                    <th scope="col">Quantidade</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for doacao in doacoes %}
                    <tr>
                        <td>{{ doacao.data_registro }}</td>
                        <td>{{ doacao.tipo_doacao }} </td>
                        <td>{{ doacao.quantidade }}</td>
                        <td>
                            <form id="deleteForm{{ doacao.id }}" action="{% url 'animais:delete_doacao' doacao.id %}" method="post">
                                {% csrf_token %}
                                <button type="button" class="btn btn-danger" onclick="confirmDelete({{ doacao.id }})">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

                    <script>

                        function confirmDelete(doacaoId) {
                            if (confirm("Tem certeza que deseja excluir esta doação?")) {
                                document.getElementById("deleteForm" + doacaoId).submit();
                            }
                        }
                    </script>


    {% endif %}
{% endif %}
{% endblock %}
