{% extends 'animais/base.html' %}
{% block title %}Sobre{% endblock %}
{% block content %}
  <h1>Canil São Lázaro</h1>
  <hr>
    <div class="card custom-card-body">
      <div class="card-body">
        <p>
          <span class="first-letter-large">O</span> <i>canil São Lázaro</i> é uma entidade de proteção animal sem fins lucrativos, localizada em Santa Cruz das Palmeiras/SP, para <i>resgatar</i>, <i>proteger</i> e <i>cuidar</i> de animais em situação de rua e maus-tratos.
        </p>
        <p>
          No momento, a entidade abriga 126 animais e possui em sua infraestrutura canis separados com padrões pré-estabelecidos e devidamente higienizados. Além disso, ainda possui sala de cirurgia e enfermaria dentro do local para a realização de atendimentos dos animais do abrigo e também de emergências que surgem.
        </p>
          <table class="table table-striped table-responsive">
            <tbody>
              <tr>
                <td><strong>Localização</strong>:</td>
                <td>Rodovia Padre Donizetti, KM 5, Chácara Dos Cachorros - Sitio São Sebastião - Santa Cruz das Palmeiras/SP</td>
              </tr>
              <tr>
                <td><strong>CEP</strong>:</td>
                <td>13650-000</td>
              </tr>
              <tr>
                <td><strong>Telefone</strong>:</td>
                <td>(19) 3672-1339 / (19) 3672-2697</td>
              </tr>
              <tr>
                <td><strong>Responsável</strong>:</td>
                <td>Sr. Antônio Cândido de Oliveira "Tuna"</td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
{% endblock %}