{% extends 'animais/base.html' %}
{% block title %}Sobre{% endblock %}
{% block content %}
  <h1>Canil São Lázaro</h1>
  <hr>
  <div class="card custom-card-body">
    <div class="card-body">
      <p>
        <span class="first-letter-large">O</span> <i>canil São Lázaro</i> é uma entidade de proteção animal sem fins lucrativos, localizada em Santa Cruz das Palmeiras/SP, para <i>resgatar</i>, <i>proteger</i> e <i>cuidar</i> de animais em situação de rua e maus-tratos.
      </p>
      <p>
        No momento, a entidade abriga 126 animais e possui em sua infraestrutura canis separados com padrões pré-estabelecidos e devidamente higienizados. Além disso, ainda possui sala de cirurgia e enfermaria dentro do local para a realização de atendimentos dos animais do abrigo e também de emergências que surgem.
      </p>
      <table class="table table-striped table-responsive">
        <tbody>
          <tr>
            <td><strong>Localização</strong>:</td>
            <td>Rodovia Padre Donizetti, KM 5, Chácara Dos Cachorros - Sitio São Sebastião - Santa Cruz das Palmeiras/SP</td>
          </tr>
          <tr>
            <td><strong>CEP</strong>:</td>
            <td>13650-000</td>
          </tr>
          <tr>
            <td><strong>Telefone</strong>:</td>
            <td>(19) 3672-1339 / (19) 3672-2697</td>
          </tr>
          <tr>
            <td><strong>Responsável</strong>:</td>
            <td>Sr. Antônio Cândido de Oliveira "Tuna"</td>
          </tr>
          <tr>
            <td><strong>Redes sociais</strong>:</td>
            <td>
              <a href="https://www.facebook.com/rosefontanatc/" target="_blank" class="social-media">
                <svg fill="#0865FE" height="3rem" viewBox="-51.2 -51.2 614.40 614.40" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0" transform="translate(69.12,69.12), scale(0.73)"><rect x="-51.2" y="-51.2" width="614.40" height="614.40" rx="307.2" fill="#FFFFFF" strokewidth="0"/></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC" stroke-width="2.048"/><g id="SVGRepo_iconCarrier"><path d="M480,257.35c0-123.7-100.3-224-224-224s-224,100.3-224,224c0,111.8,81.9,204.47,189,221.29V322.12H164.11V257.35H221V208c0-56.13,33.45-87.16,84.61-87.16,24.51,0,50.15,4.38,50.15,4.38v55.13H327.5c-27.81,0-36.51,17.26-36.51,35v42h62.12l-9.92,64.77H291V478.66C398.1,461.85,480,369.18,480,257.35Z" fill-rule="evenodd"/></g></svg>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <hr>
      <div class="embed-responsive">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d134805.29812505233!2d-47.35899046285286!3d-21.742007297285067!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94b7e55c8ae11c73%3A0x4835b1bd3d00c6eb!2sCanil%20S%C3%A3o%20Lazaro!5e1!3m2!1spt-BR!2sbr!4v1699156004559!5m2!1spt-BR!2sbr" width="600" height="450" style="border:1;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
{% endblock %}
