{% extends 'animais/base.html' %}
{% block title %}Cadastre um Animal{% endblock %}
{% block content %}
  <h1>Status Meta</h1>
  <hr>

<form id="dataForm" action="" method="get">
  <div class="form-group">
    <label for="escolha_data">Escolha uma data:</label>
    <select class="form-control" name="escolha_data" id="escolha_data" onchange="submitForm()">
      {% for dat in dist_datas %}
        <option value="{{ dat|date:"Y-m-d" }}">{{ dat|date:"Y M" }}</option>
      {% endfor %}
    </select>
  </div>
</form>

<script>
  function submitForm() {
    document.getElementById("dataForm").submit();
  }
</script>


{% for produto, registros in resp.items %}
  <h2>{{produto}}</h2>
  <hr>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Mes Referencia</th>
      <th scope="col">Total</th>
      <th scope="col">Meta</th>
      <th scope="col">%</th>
    </tr>
  </thead>
  <tbody>
    {% for registro in registros %}
    <tr data-toggle="collapse" data-target="#info{{ forloop.counter }}">
      <td>{{ registro.0|date:"Y-m" }}</td>
      <td>{{ registro.1 }}</td>
      <td>{{ registro.2 }}</td>
      <td>{{ registro.3 }} %</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endfor %}

{% endblock %}
