{% extends 'animais/base.html' %}
{% block title %}Cadastre um Animal{% endblock %}
{% block content %}
  <h1>Status Meta</h1>
  <hr>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Produto</th>
      <th scope="col">Mes Referencia</th>
      <th scope="col">Total</th>
      <th scope="col">Meta</th>
      <th scope="col">%</th>
    </tr>
  </thead>
  <tbody>
    {% for info in query %}
    <tr data-toggle="collapse" data-target="#info{{ forloop.counter }}">
      <td>{{ info.0 }}</td>
      <td>{{ info.1|date:"Y-m" }}</td>
      <td>{{ info.2 }}</td>
      <td>{{ info.3 }}</td>
      <td>{{ info.4|floatformat:2 }} %</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
